
@font-face {
    font-family: digitalFont;
    src: url(digital-7-font/Digital7-1e1Z.ttf);
    font-weight: bold;
  }

body {
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    width: 100vw;
    height: 99vh;
    grid-template-columns: 1fr 50vh 1fr;
    grid-template-rows: 1fr 75vh 1fr;
    grid-template-areas: 
        ". . ."
        ". calculator ."
        ". . .";
}

.calc-container {
    grid-area: calculator;
    display: grid;
    padding: 2vw;
    background-color: rgba(192,192,192,1);
    border-radius: 8vw;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(105, 105, 105, 1);
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas:
        "display display display display display"
        "7 8 9 C AC"
        "4 5 6 times frac"
        "1 2 3 plus min"
        "zero point blank neg equals";
}

.display-container {
    display:grid;
    grid-area: display;
    width:100%;
    align-items: center;
}

.display {
    width:auto;
    height:auto;
    overflow: hidden;
    background-color: white;
    padding: 0.5em;
    margin: auto 1vw;
    font-family: digitalFont, sans-serif;
    font-size: 4.5vw;
    font-weight: 500;
    color: rgba(50,50,50,1);
    border-radius: 0.3em;
}

@media only screen and (max-width: 1350px) {
    main {
        grid-template-columns: 1fr 50vw 1fr;
        grid-template-rows: 1fr 75vw 1fr;
    }

    .calc-container {
        min-width: 200px;
        min-height: 300px;
    }

    .display {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1800px) {
    .display {
        font-size: 80px;
    }
}
