
@font-face {
    font-family: digitalFont;
    src: url(digital-7-font/Digital7-1e1Z.ttf);
    font-weight: bold;
  }

body {
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    width: 100vw;
    height: 99vh;
    grid-template-columns: 1fr 50vh 1fr;
    grid-template-rows: 1fr 75vh 1fr;
    grid-template-areas: 
        ". . ."
        ". calculator ."
        ". . .";
}

.calc-container {
    grid-area: calculator;
    display: grid;
    padding: 2vw;
    padding-bottom: 4vw;
    background-color: rgba(80,80,80,1);
    border-radius: 8vw;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(20, 20, 20, 1);
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas:
        "display display display display display"
        "num7 num8 num9 clear all-clear"
        "num4 num5 num6 times frac"
        "num1 num2 num3 plus min"
        "zero point blank neg equals";
    grid-gap:0.5em
}

.display-container {
    display:grid;
    grid-area: display;
    align-items: center;
    width:100%;    
}

.display-main {
    width:auto;
    height: 0.8em;
    overflow: hidden;
    background-color: white;
    padding: 0.1em 0.5em 0.5em 0.5em;
    margin: auto 1vw;
    font-family: digitalFont, sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: rgba(50,50,50,1);
    border-radius: 0.3em;
    border-width: 0.1em;
    border-style: ridge;
    border-color: #D6D6D6;
}

.disp-operator {
    height: 10px;
    margin-bottom: 10px;
    font-family: digitalFont, sans-serif;
    font-size: 30px;
    font-weight: 300;
}

button {
    width: 1.8em;
    background-color: #D6D6D6;
    color: #132967;
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 500;
    justify-self: center;
    border-color: #132967;
    transition: all 0.07s ease;
    border-width: 0.1em;
    border-style: ridge;
    border-radius: 0.4em;
    cursor: pointer;
}

button:hover {
    background-color: #132967;
    color: #D6D6D6;
    transition: all 0.07s ease;
    border-color: #D6D6D6;

}

.pressed {
    background-color: #132967;
    color: #D6D6D6;
    transition: all 0.07s ease;
    border-color: #D6D6D6;
}

button:focus {
    outline: none;
}

button:active {
    border-style: groove;
    background-color: #224AB9;
    color: transparent;
    border-color: #F7F7F7;
    text-shadow: 0.05em 0.05em #D7D7D7;
}

.num7 {
    grid-area: num7;
}

.num8 {
    grid-area: num8;
}

.num9 {
    grid-area: num9;
}

.clear {
    grid-area: clear;
}

.all-clear {
    grid-area: all-clear;
}

.num4 {
    grid-area: num4;
}

.num5 {
    grid-area: num5;
}

.num6 {
    grid-area: num6;
}

.times {
    grid-area: times;
}

.divide {
    grid-area: frac;
}

.num1 {
    grid-area: num1;
}

.num2 {
    grid-area: num2;
}

.num3 {
    grid-area: num3;
}

.add {
    grid-area: plus;
}

.subtract {
    grid-area: min;
}

.zero {
    grid-area: zero;
}

.point {
    grid-area: point;
}

.blank {
    grid-area: blank;
}

.minus {
    grid-area: neg;
}

.equals {
    grid-area: equals;
}

@media only screen and (max-width: 1350px) {
    main {
        grid-template-columns: 1fr 50vw 1fr;
        grid-template-rows: 1fr 75vw 1fr;
    }

    .calc-container {
        min-width: 200px;
        min-height: 300px;
    }

    .display {
        font-size: 6vw;
    }

    button {
        font-size: 4.5vw;
    }
}

/*@media only screen and (min-width: 1800px) {
    .display {
        font-size: 80px;
    }
}*/

@media only screen and (max-width: 500px) {
    .calc-container {
        grid-gap: 0.2em;
    }
    
    .display {
        font-size: 30px;
    }

    button {
        font-size: 20px;
    }
}